.idea/
.vscode/
.venv*/
venv*/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
resources/
/extension/assets/bootstrap*.css
/extension/assets/bootstrap*.js
/extension/assets/jquery*.js
backend/flask_api/mydb.db