{% extends 'base.html' %}

{% block head_styles %}
    <title>Plan Meeting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
{% endblock %}

{% block content %}

    <h1>Plan Meeting</h1>

    <div class="form-container">
        <form id="meeting-form">
            <label for="meeting-title">Meeting Title:</label>
            <input type="text" id="meeting-title" name="meeting-title" placeholder="Enter meeting title" required>

            <label for="meeting-date" style="margin-top: 20px;">Select Meeting Date:</label>
            <input type="date" id="meeting-date" name="meeting-date" class="calendar-input" required>

            <label for="start-time">Start Time:</label>
            <input type="time" id="start-time" name="start-time" required>

            <label for="end-time">End Time (Optional):</label>
            <input type="time" id="end-time" name="end-time">

            <div class="integration">
                <input type="checkbox" id="zoom" name="platform" value="zoom">
                <label for="zoom">Zoom</label>

                <input type="checkbox" id="teams" name="platform" value="teams">
                <label for="teams">Microsoft Teams</label>

                <input type="checkbox" id="google-meet" name="platform" value="google-meet">
                <label for="google-meet">Google Meet</label>
            </div>
            <button type="button" onclick="authorizeGoogle()">Authorize Google</button>
            <button type="button" onclick="syncMeeting()">Sync with Google Calendar</button>

            <button type="button" onclick="authorizeZoom()">Authorize Zoom</button>
            <button type="button" onclick="syncZoomMeeting()">Sync with Zoom</button>



            <button type="submit">Save Meeting</button>
        </form>
    </div>
    <script src="../static/script.js"></script>

</body>
</html>

{% endblock %}