{% extends 'base.html' %}

{% block head_styles %}
    <title>Plan Meeting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">Plan Your Meeting</h1>
    <div class="card">
        <form id="meeting-form" class="form-container">
            <div class="form-group">
                <label for="meeting-title">Meeting Title:</label>
                <input type="text" id="meeting-title" name="meeting-title" placeholder="Enter meeting title" required>
            </div>

            <div class="form-group">
                <label for="meeting-date">Select Meeting Date:</label>
                <input type="date" id="meeting-date" name="meeting-date" required>
            </div>

            <div class="form-group">
                <label for="start-time">Start Time:</label>
                <input type="time" id="start-time" name="start-time" required>
            </div>

            <div class="form-group">
                <label for="end-time">End Time:</label>
                <input type="time" id="end-time" name="end-time">
            </div>

            <div class="form-group">
                <label>Select Platform:</label>
                <div class="platform-buttons">
                    <button type="button" id="selected-platform" class="platform-btn" data-platform="zoom">Zoom</button>
                    <button type="button" id="selected-platform" class="platform-btn" data-platform="google-meet">Google Meet</button>
                    <button type="button" id="selected-platform" class="platform-btn" data-platform="teams">Microsoft Teams</button>
                </div>
            </div>

            <!-- Przyciski Google -->
            <div class="form-group">
                <button type="button" onclick="authorizeGoogle()" class="btn-google">Authorize Google</button>
                <button type="button" onclick="syncMeeting()" class="btn-google">Sync with Google Calendar</button>
            </div>

            <!-- Przyciski Zoom -->
            <div class="form-group">
                <button type="button" onclick="authorizeZoom()" class="btn-zoom">Authorize Zoom</button>
                <button type="button" onclick="syncZoomMeeting()" class="btn-zoom">Sync with Zoom</button>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save Meeting</button>
            </div>
        </form>
    </div>
</div>
<script src="../static/script.js"></script>

{% endblock %}
