<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='meeting_details.css') }}">
</head>
<body>
    <h1>Meeting Details</h1>
    <div class="container">
      <div class="meeting-info-container">
        <!-- <div class="meeting-tile">
           <div class="tile-header">Meeting ID:</div>
           <div><p>{{ meeting.meeting_id }}</p></div>
       </div> -->
       <div class="meeting-tile">
            <div class="tile-header">Title:</div>
          <div> <p>{{ meeting.title }}</p></div>
        </div>
         <div class="meeting-tile">
          <div class="tile-header">Scheduled time:</div>
          <div>  <p>{{ meeting.scheduled_time }}</p></div>
        </div>
         <div class="meeting-tile">
            <div class="tile-header">Platform:</div>
           <div><p>{{ meeting.platform }}</p></div>
        </div>
      </div>
        {% if transcription %}
        <div class="transcription-summary-container">
            <h2> Transcription and Summary </h2>
            <div class="transcription-tile">
                  <div class="tile-header">Transcription:</div>
                <div> <p> {{ transcription.full_text }}</p></div>
            </div>
             <div class="transcription-tile">
               <div class="tile-header">Summary:</div>
                <div><p> {{ transcription.summary }}</p></div>
            </div>
         </div>
        {% else %}
           <p><strong> No transcription available </strong></p>
        {% endif %}
        <a href="/notes">Go back to notes</a>
     </div>
</body>
</html>